extends layout

block content
  h1 Update Book

  if errors
    h2.error Oooops!
    ul.error
      each error in errors
        li= error.message

  form(action="", method="post")
    div.flex
      label(for="title") Title
      input(name="title" type="text" id="title" value=book.title)
    div.flex
      label(for="author") Author
      input(name="author" type="text" id="author" value=book.author)
    div.flex
      label(for="genre") Genre
      input(name="genre" type="text" id="genre" value=book.genre)
    div.flex
      label(for="year") Year
      input(name="year" type="text" id="year" value=book.year)
    p.published= `Published: ${book.publishedAt()}`
    div.flex
      input(type="submit" value="Update Book")
  form(action=`/books/${book.id}/delete` method="post" onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a(class="button" href="/books") Cancel
    p
      input(type="submit" value="Delete Book")